.quantity-counter {
    font-size: 24px;
    font-weight: bold;
}

.count {
    animation: countAnimation 1s ease-in-out forwards;
}


@keyframes countAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}